#col2{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.memberlist_hr{
  margin-bottom: 3%;
}

.club_create2_table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  margin-bottom: 5%;
}

.club_create2_table td{
  padding: 15px;
}

.club_create2_table tr{
  border-bottom: 1px solid #dddddd;
}

.club_create2_table input[type="text"]{
  font-size: 15px;
  height: 25px;
  border: none;
  /* border-bottom: 1px solid #dddddd; */
}

.club_create2_table select{
  padding: 5px;
  /* height: 25px; */
  border: none;
}

.club_create2_table input[type="number"]{
  height: 25px;
  border: none;
}

.club_create2_table #address1{
  width: 500px;
}

.club_create2_table input[type="button"],input[type="submit"]{
  width: 100px;
  padding: 10px 0;
  font-size: 15px;
  background-color: #001246;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

#schedule_btn{
  width: 50px;
  padding: 10px 0;
  font-size: 15px;
  background-color: #001246;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}





  /* .ui-datepicker{ font-size: 13px; width: 250px; }
    .ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 12px; }
    .ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 12px; } */
