#sales_main_div{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.search_div{
  float: right;
  margin-bottom: 3%;
}

.year_form select{
  width: 196px;
  height: 30px;
  font-size: 15px;
  appearance: none;
}

.year_form input[type="submit"]{
  padding: 5px;
  width: 50px;
  background-color: #001246;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
}

.salestable{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  /* overflow: hidden; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* margin: 0 auto; */
  margin-bottom: 5%;
}

thead tr{
  background-color: #001246;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

tbody tr{
  border-bottom: 1px solid #dddddd;
}

.downtbody{
  background-color: #b2bec3;
}

.lasttbody{
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #001246;
  font-size: 21px;
  background-color: #273c75;
  color: #fff;
}

#linechart{
  float: left;
  margin-top: 5%;
}
#piechart{
  float: left;
  margin-top: 10%;
}

#btnExport{
  float: right;
  padding: 10px 20px 10px 20px;
  background-color: #001246;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin-top: 5%;
  margin-right: 10%;
  border-radius: 5px;
}
