.memberlist{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.memberlist_hr{
  margin-top: 3%;
  margin-bottom: 3%;
}

#hr{
  display: inline;
}

.search{
  display: inline-block;
  margin-top: 10px;
  float: right;
}

.search input[type="text"]{
  width: 200px;
  line-height: 35px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.search input[type="submit"]{
  border: none;
  background-color: #384d75;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}

.search .kind_sel{
  padding: 5px;
  height: 35px;
  border: 1px solid #ccc;

}

#myBtn{
  padding: 10px;
  border: none;
  outline: none;
  background-color: #7f8fa6;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
