a{color:#000;}

.modal2 {
 display:none;
 position: fixed; /* Stay in place */
 z-index: 10;
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content2 {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 1000px; /* Could be more or less, depending on screen size*/
}
/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}
.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

.button-8{
  width:100%;
  height:50px;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  border-radius: 10px;
  border: none;
  outline: none;
  transition:all .7s ease;
  font-size: 16px;
  background-color: #0a3d62;
  color: #fff;
}

/* .button-8{
  font-size:16px;
  color: black;
  text-decoration:none;
  z-index:2;
} */

.button-8:hover{
  background-color: #3c6382;
}

#table1{
  width: 100%;
  height: 400px;
}

#table1 #tr1 #faq_cetegory{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #1e3799;
  font-size: 20px;
}

#table1 #tr2 td input{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #1e3799;
  font-size: 20px;
  margin-bottom: 5%:
}

#table1 #tr3 td p{
  font-size: 20px;
}
