.body{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.create_view_table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  margin-bottom: 5%;
}

.create_view_table td{
  padding: 15px;
}

.create_view_table tr{
  border-bottom: 1px solid #dddddd;
}

.create_view_table input[type="text"]{
  font-size: 15px;
  height: 25px;
  border: none;
  /* border-bottom: 1px solid #dddddd; */
}

.create_view_table input[type="number"]{
  font-size: 15px;
  height: 25px;
  border: none;
}

.create_view_table button[type="button"]{
  width: 100px;
  padding: 10px 0;
  font-size: 15px;
  background-color: #001246;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
