.admin_club_accept{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.condition_club {
  margin-bottom: 5%;
}

.accept_table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 10%;
  margin-top: 3%;
}

.accept_table tbody input[type="button"]{
  padding: 5px 7px 5px 7px;
  background-color: #636e72;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

thead tr{
  background-color: #001246;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th, td{
  padding: 12px 15px;
  text-align: center;
}

tbody tr{
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-last-of-type(even){
  background-color: #f3f3f3;
}

tbody tr:last-of-type{
  border-bottom: 2px solid #001246;
} 

tbody td button{
  padding: 5px 7px 5px 7px;
  background-color: #636e72;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}


#page_box{
  margin-bottom: 5%;
  text-align: center;
}

a{
  text-decoration: none;
}
