.requst_div{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.request_table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 5%;
}

.request_table tr td{
  padding: 10px;
}
