/* .club_view_sec{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
} */

.club_view{
  width: 500px;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.club_info{
  margin-top: 20%;
}

.club_img{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
}

.club_img .club_view_name{
  font-size: 30px;
  margin-bottom: 5%;
}

.club_view_content{
  margin-top: 20%;
}

.club_view_content h3{
  color: #eb4d4b;
}

.club_div{
  font-size: 17px;
}

.club_div .club_view_intro{
  margin-top: 5%;
  color:
}

.club_view_map{
  width: 100%;
}

.club_view_map p{
  color: #e17055;
  /* text-align: center; */
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

#map{
  position: relative;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 1000px;
  height: 400px;
  margin-top: 10%;
}

.ripple_section{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.ripple{
  width: 1000px;
  margin: 0 auto;
}

.ripple #ripple_textarea textarea{
  width: 90%;
  height: 100px;
}

.ripple #ripple_textarea button[type="submit"]{
  float: right;
  height: 105px;
}

.ripple_section ul{
  list-style: none;
  padding-left: 0;
}

.ripple_section .ripple_div{
  width: 100%;
}

.club_view_bar{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.divider{
width:100%;
margin:0 auto;
margin-top:77px;
background:#eee;
}

.divider_ripple{
  margin-top: 3%;
  border: 0.5px solid black;
}
