* { -webkit-text-size-adjust: none;-moz-text-size-adjust: none; -ms-text-size-adjust: none; }
img { border:0; margin:0; padding:0; }
table { border-collapse:collapse; border:0;}
table, th, td, div, ul, dl, ol, li, dt, dd, p, h1, h2 { margin:0; padding:0; }
h1, h2, h3, h4, h5, dt, dd, th, td, p, li, div { font-family:"Malgun Gothic", arial, Tahoma, sans-serif; font-size:12px; letter-spacing:-1px; color:#171517; }
body { margin:0; padding:0; overflow-y: scroll;

/*
scrollbar-arrow-color: #ffffff;
*/
scrollbar-face-color: #fff;
scrollbar-highlight-color: #201e21;
scrollbar-track-piece-backgroud-color: #201e21;
scrollbar-arrow-color: #201e21;
/*
scrollbar-thumb-border-radius:20px;
scrollbar-thumb:hover-border-radius:20px;
*/

}



::-webkit-scrollbar-track-piece{
	background-color:#201e21;
	-webkit-border-radius:0;
}

::-webkit-scrollbar{
	width:8px;
	height:8px;
}

::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#fff;
	-webkit-border-radius:0px;
	outline:2px solid #201e21;
	outline-offset:-2px;
	border: 2px solid #201e21;
}


::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#9f9f9f;
	-webkit-border-radius:0px;

}



body { #overflow:hidden; _overflow:hidden; } /* ie 6.0, 7.0 踰꾩쟾 */
ul, li { list-style: none; }

a:link { text-decoration:none!important; }
a:visited { text-decoration:none!important; }
a:hover { text-decoration:none!important; }
a:active { text-decoration:none!important; }


#fixed-top {display:none}
#header{display:none}
ul.m_top_gnb li {float:left;padding-top:25px;padding-left:10px;width:33.3%}
ul.m_top_gnb li a {display:block;color:white;background-color:#323033;padding:14px;font-size:18px}
ul.m_top_gnb li img{width:100%}


#ContainerWrap { background-color:#f3f3f3; }
#ContainerWrap #SubWrap { width:100%; }
#ContainerWrap #SubWrap #LeftWrap {position:absolute;top:0;left:0;right:316px;1background-color: #f3f3f3;height:100%;1width: 83.4%;}

#ContainerWrap #SubWrap #LeftWrap .list_top_banner { padding:0.7% 0; background-color:#fff; }
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web { wid1th:90% }
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li { float:left; margin-right:0.7%; width:32.8%;position:relative;line-height:0}

#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li img { width:100%; max-w1idth:473px; }
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {position:relative;top:58px;font-size:16px;font-weight:bold;}

@media screen and (max-width: 1700px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:47px}
}

@media screen and (max-width: 1600px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:44px}
}
@media screen and (max-width: 1440px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:38px}
}

@media screen and (max-width: 1360px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:36px}
}
@media screen and (max-width: 1280px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:34px}
}
@media screen and (max-width: 1100px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:26px}
}
@media screen and (max-width: 1024px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:23px}
}
@media screen and (max-width: 912px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:31px}
}

@media screen and (max-width: 768px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span {top:78px}
}

@media screen and (max-width: 480px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span{top:40px}
}
@media screen and (max-width: 414px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span{top:46px}
}
@media screen and (max-width: 375px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span{top:39px}
}
@media screen and (max-width: 360px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span{top:40px}
}

@media screen and (max-width: 320px) {
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li span{top:33px}
}



#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_mobile { wid1th:83%; }
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_mobile li { float:left; }
#ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_mobile li img { width:100%; }

#ContainerWrap #SubWrap #LeftWrap .sub_visual { h1eight:400px; position:relative; max-width:100%;}
#ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_arr { position:absolute; width:73%; margin-left:2%; top:25%; }
#ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_point { width:150px; left:50%; margin-left:-75px; position:absolute; t1op:350px;bottom:5%; }
#ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_point li { float:left; margin-right:10px; }
#ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_point li a { color:#fff; }
#ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_point li a.on { color:#434343; }
#ContainerWrap #SubWrap #LeftWrap .sub_visual p { }
#ContainerWrap #SubWrap #LeftWrap .sub_visual p img { width:100%; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list { padding-left:1.5%; padding-right:1.5%; padding:0; width:100%; max-width:1542px; margin:0 auto;height:100%}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .mb_15 { margin-bottom:0; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single { width:296px; 1width:17%; padding:1%; float:left; margin:0.6% 0.4% 0.6% 0.4%; background-color:#fff; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img { position:relative; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_deadline { position:relative; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_deadline p { position:absolute; width:32px; height:60px; z-index:10; color:#171518; right:0; text-align:center; margin-right:10px; font-size:11px; line-height:14px;color:white;z-index:1;  padding-top: 5px;}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_deadline p img {width:30px;}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt { position:absolute; height:100%; width:100%; text-1align:center; opacity:0; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .bg_color01:hover { background-color:#b3b9db; opacity:0.8; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .bg_color02:hover { background-color:#d6abb1; opacity:0.8; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .bg_color03:hover { background-color:#90bdae; opacity:0.8; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .bg_color04:hover { background-color:#fed8ff; opacity:0.8; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt dl { border-bottom:1px solid #fff; margin:0 20px 0 20px; height:53%; vertical-align:middle; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt dl dt { color:#fff; font-size:26px; font-family:"arial"; font-weight:bold; padding-top:28%; margin-b1ottom:5px; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt dl dd { color:#fff; font-size:24px; font-family:"arial";}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt p { color:#fff; width:80%; margin:0 auto; margin-top:30%; padding:8% 5% 8% 5%; border-top:1px solid #fff; border-bottom:1px solid #fff; font-size:13px; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .img {  }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .img img { width:100%;height: 100%; }   /* 2015-04-17 //  height:138px; */
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .img2 img { width:100%; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info { back1ground:url(../images/school/bg_list_gallery.png) right bottom no-repeat; padding-top:15px; height:75px; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info h2 { font-size:18px; color:#171518; line-height:20px;height:40px;overflow:hidden}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title { margin:15px 0; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dt { font-weight:bold; color:#171518; font-size:15px; float:left; font-family:Malgun Gothic; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dd { font-size:11px; color:#171518; float:right; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dd ul {  width: 150px;height: 16px;overflow: hidden;}

#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dt.price_text { font-weight:bold; color:#FF0000; font-size:15px; float:left; font-family:Malgun Gothic; }

#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info  dd ul li {float:left;padding-left:5px}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info  dd ul li  a {color: #171518;}


#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_btn { margin-top:20px; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_btn dt { float:left; font-size:10px; color:#666; font-weight:bold; }
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_btn dd { float:right; font-size:11px; color:#999; }


#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .main_sns ul li{float:left;padding-top:10px;padding-right:10px;color:#b4b4b4;line-height:0}
@media screen and (max-width: 1866px){#ContainerWrap #SubWrap #LeftWrap .gallery_list {max-width:1224px}
.people_list_single01{max-width:}
}
@media screen and (max-width: 1547px) {#ContainerWrap #SubWrap #LeftWrap .gallery_list {max-width:910px}}
@media screen and (max-width:1233px ){#ContainerWrap #SubWrap #LeftWrap .gallery_list {max-width:602px}}

@media screen and (max-width: 925px){#ContainerWrap #SubWrap #LeftWrap .gallery_list {max-width:274px}}


@media screen and (max-width: 1400px) { #ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_arr { width:71%; } }
@media screen and (max-width: 1400px) { #ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li { wi1dth:32.22%; } }



@media screen and (max-width: 1280px) { #ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_arr { width:70%; } }
@media screen and (max-width: 1280px) { #ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li { wi1dth:32.1%; } }
@media screen and (max-width: 1280px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt p { margin-top:36%; padding:8% 5% 8% 5%; font-size:11px; } }
@media screen and (max-width: 1280px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info { padding:5px; height:75px; } }

@media screen and (max-width: 1280px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title { margin-top:5px; } }





@media screen and (max-width: 768px) { #ContainerWrap #SubWrap #LeftWrap .sub_visual .sub_visual_arr { width:67%; } }
@media screen and (max-width: 768px) { #ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web li { width:100%; margin-right:0; margin-bottom:7px; } }



@media screen and (max-width: 640px) { #ContainerWrap #SubWrap #LeftWrap .sub_visual { displ1ay:none; } }



@media screen and (min-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_mobile { display:none; } }

@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap { float:left; width:100%; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .sub_visual { dis1play:none; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .list_top_banner .list_top_banner_web { 1display:none; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list { width:100%; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .mb_15 { margin-bottom:15px!important; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single { width:96%; margin-bottom:10px; padding:1%; margin:0 auto; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt dl { m1argin:0 10px 0 10px; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt dl dt { font-size:26px; padding-top:15%; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .gallery_list_img_txt dl dd { font-size:24px; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info { height:85px; } }

@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dd { font-size:11px; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info { padding:5px; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info h2 { font-size:15px; } }

@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dt { font-size:14px; float:left; } }
@media screen and (max-width: 480px) { #ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info .gallery_list_title dd { font-size:11px; float:right; margin-right:11px; } }



.mb_00 { margin-bottom:0!important; }
.mr_00 { margin-right:0!important; }

.footer{display:none}


@media screen and (max-width: 912px) {
#fixed-top {display:block;}
#header {display:block;background-color:#2b2b2b}
.footer {display:block;}
#ContainerWrap #SubWrap #LeftWrap .gallery_list{max-width:100%;padding:0;padding-top:10px}
#ContainerWrap #SubWrap #LeftWrap {position:relative;1padding:15px;width:100%}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single {max-width:49%;width:100%;margin:0;margin-bottom:10px;  margin: 0.6% 0.5% 0.6% 0.5%;}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img {float:left;width: 25%;}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info {float:left;1padding-left:10px;padding-top:6%}
#header {display:block;height:auto}
ul.m_top_gnb {display:block;margin-top:40px;padding:10px}
ul.m_top_gnb li {float:none;margin-bottom:10px;padding:0;width:100%}
ul.m_top_gnb li a {1background:url(../images/main/bg_gnb_icon.png) no-repeat 95% 16px;background-color: #323033;}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_img .img img {height:auto}
}


@media screen and (max-width: 480px) {
#ContainerWrap #SubWrap #LeftWrap {padding:0}
#ContainerWrap #SubWrap #LeftWrap .gallery_list .gallery_list_single .gallery_list_info {padding-top:10px}


}

table.calender tr td {color:white;text-align:center;line-height:40px;width:40px;position:relative}
table.calender tr td a {color:white}
table.calender tr td.on {background:url(../images/square/ico_today.png) no-repeat center;1width:40px;1background-size:28px; background-size: 20px;

/* border-radius:100px;
 -moz-border-radius : 100px;
 -webkit-border-radius : 100px;
 -ms-border-radius :100px;
 -khtml-border-radius : 100px;
 -o-border-radius :100px;
 background:white;*/
 color:#fff;
 text-align:center;
}

/* @media screen and (max-width: 912px) {
table.calender tr td.on {1background:none}
}

table.calender tr td.on .round_back {background: white;position: absolute;top: 10px;z-index:0;height: 20px;width: 20px;
 border-radius:100px;
 -moz-border-radius : 100px;
 -webkit-border-radius : 100px;
 -ms-border-radius :100px;
 -khtml-border-radius : 100px;
 -o-border-radius :100px;
   left: 1px;
   z-index:-1;
 }*/

table.calender tr td.on a {color:black}
.top_month ul li {float:left;font-size: 20px;}
.top_month ul li.st01 {float:left;width:10%;  padding-left: 17px;}
.top_month ul li.st02 {width:80%;text-align:center;color:white}
.top_month ul li.st03 {float:right;width:10%}

.top_month ul li a {color:white}
.bg_hot_search {margin-top:20px;1height:45px;overflow:hidden}
.bg_hot_search ul li {float:left;padding-right:5px;margin-bottom:5px}
.bg_hot_search ul li table{  line-height: 0px;}
.bg_hot_search ul li table tr td img {width:20px}
.bg_hot_search ul li table tr td.st01 {background-color:#252225;color:#525357;font-size:11px;line-height:20px;  letter-spacing: normal;}
.bg_hot_search ul li table tr td.st01 span{color:#a7a6a7;line-height:0}

.make_square a {display:block;border:1px solid #858384;font-size:18px;  padding: 10px 0 10px 0;;text-align:center;color:#cbcbcb;}
.make_square a:hover {color:#cbcbcb}



.input_form table tr td.plus_btn div.st01 {position:absolute;z-index:1;left:107px;top:10px}
.input_form table tr td.plus_btn div.st02 {position:absolute; left:107px;top: 27px;  font-family: '�뗭�',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;}
.input_form table tr td.plus_btn div.st02 a {width: 28px;height:16px;padding:0 10px 0 10px;padding-top: 2px;}


@media screen and (max-width: 912px) {
.top_month ul li.st01 {float:left;width:10%;  padding-left: 0px;}
.top_month ul li.st02 {width:70%;text-align:center;color:white;  padding-top: 13px;}
.top_month ul li.st03 {float:right;width:10%}
}


@media screen and (max-width: 480px) {
.input_form table tr td.plus_btn div.st01 {position:absolute;z-index:1;left:102px;top:10px}
.input_form table tr td.plus_btn div.st02 {position:absolute; left:102px;top: 27px;  font-family: '�뗭�',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;}
.input_form table tr td.plus_btn div.st02 a {width:26px;font-family:dotum,"�뗭�";font-size:15px;line-height: 16px;}
.input_form table tr td.plus_btn input {width:130px}
.bg_hot_search ul li table tr td.st01 span{line-height:normal}






}





		.pop_close { position: absolute;right: 7px;  top: 7px;background:url(/web/skin/mall_dc/images/common/pop_closed.png) no-repeat;width:15px;height:15px;background-size:15px}
		.pop_close a {text-indent:-9999em;display:block}
		tabs_nav ul { width:100%; border-bottom:1px solid #b9b9b9; border-top:1px solid #b9b9b9; }
		.tabs_nav ul li { float:left; text-align:center; background-color:#f3f3f5;width:50% }
		.tabs_nav ul li a.on {border-bottom: 4px solid #000;padding-bottom: 8px;}
		.tabs_nav ul li a{  display: block;background: url('./skin/mall_dc/images/sub/bg_tabs_line.gif')right top repeat-y;color: #171517;font-size: 16px;letter-spacing: -1px;padding: 10px 0 12px 0;}
		.tabs_nav ul li.br_00 a{background: url('./skin/mall_dc/images/sub/bg_tabs_line.gif')left top repeat-y;}
		.tabs_nav ul li  a.bg_none {background:None}


		tabs2_nav ul { width:100%; border-bottom:1px solid #b9b9b9; border-top:1px solid #b9b9b9; }
		.tabs2_nav ul li { float:left; text-align:center; background-color:#f3f3f5;width:100% }
		.tabs2_nav ul li a.on {border-bottom: 4px solid #000;padding-bottom: 8px;}
		.tabs2_nav ul li a{  display: block;background: url('./skin/mall_dc/images/sub/bg_tabs_line.gif')right top repeat-y;color: #171517;font-size: 16px;letter-spacing: -1px;padding: 10px 0 12px 0;}
		.tabs2_nav ul li.br_00 a{background: url('./skin/mall_dc/images/sub/bg_tabs_line.gif')left top repeat-y;}
		.tabs2_nav ul li  a.bg_none {background:None}


		@media screen and (max-width: 640px) {
.input_form table tr td.plus_btn div.st01 {
  left: 135px;
}

}
