body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  /* padding: 0 100px; */
}

nav .brand {
  float: left;
  height: 100%;
  line-height: 70px;
}

nav .brand h2 {
  margin: 0;
  padding: 0;
  padding-left: 100px;
  color: #fff;
}

nav ul {
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

nav ul li a:hover {
  color: #262626;
}

nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .5s;
}

nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.sec1 {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  background: url("../img/clublist2.jpg");
  background-size: cover;
}


/***************************************************************************************************/
.sub_menu{
  position: relative;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  width: 100%;
  overflow: hidden;
}

.sub_menubar{
  position: absolute;
  padding-left: 100px;
}

.sub_menubar a{
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}

.fixed{
  position: fixed;
  top: 0px;
  z-index: 3;
}

/*********************************************************************************************/
.promotion-section-two{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 5%; */
}

.about-box-two{
  text-align: center;
}

.about-area-two{
  z-index: 2;
}

.about-area-two h2{
  padding: 55px 0 105px;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

.about-area-two .place-list-two{}

.about-area-two .place-list-two li{
  /* width: 30%; */
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 0;
  margin: 1%;
  padding: 0;
}

.about-area-two .place-list-two li a{
  text-decoration: none;
}

.about-area-two .place-list-two li:hover{
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.about-area-two .place-list-two li .top-place-two{
  width: 370px;
  height: 380px;
  display: block;
}


.about-area-two .place-list-two li h3{
  font-weight: bold;
  font-size: 18px;
  padding-top: 25px;
  color: #000;
}

.about-area-two .place-list-two li p.txt-two{
  box-sizing: border-box;
  padding: 10px 30px 0;
  width: 100%;
  overflow: hidden;
  word-break: keep-all;
  line-height: 1.8;
  color: #666;
}

.about-area-two .place-list-two li .view-two{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 2px solid #333;
  color: #666;
}
