@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');
body{
font-family:'Montserrat',DroidSans,AppleSDGothicNeo,Sans-serif,Helvetica;
margin: 0;
padding: 0;
}

.modal_message{
  z-index: 9999;
  width: 500px;
  height: 400px;
  overflow: hidden;
  background: #fff;
  position: fixed;
  bottom: -400px;
  right: 20px;
  transition: 1s;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal_message .content_modal{
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.content_modal h1{
  font-size: 30px;
  margin-bottom: 10%;
  color: black;
}

.content_modal input{
  font-size: 20px;
  margin-bottom: 5%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
}

.content_modal textarea{
  font-size: 20px;
  margin-bottom: 5%;
  width: 100%;
  color: black;
}

.content_modal button[type="submit"]{
  width: 100%;
  display: block;
  background: #e74c3c;
  padding: 10px 30px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
}

.hide{
  margin-top: 2%;
  position: absolute;
  z-index: 9999;
  right: 14px;
  font-size: 20px;
  color: #333;
  opacity: 0.7;
  transition: 0.3s;
  top: 0;
  cursor: pointer;
}

.fa-envelope-open{
  position: absolute;
  /* right: 11px; */
  margin-top: 2%;
  left: 14px;
  font-size: 25px;
  color: #333;
  top: 0;
  cursor: pointer;
}

/**********************************************/
.simple_modal{
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from{opacity: 0}
  to {opacity: 1}
}
