.table_request_div{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.table_request{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  margin-bottom: 5%;
}

.table_request td{
  padding: 15px;
}

.table_request tr{
  border-bottom: 1px solid #dddddd;
}

.table_request input[type="text"]{
  font-size: 15px;
  height: 25px;
  border: none;
  width: 100%;
  outline: none;
  /* border-bottom: 1px solid #dddddd; */
}

.table_request select{
  border: none;
  width: 100%;
  height: 25px;
  font-size: 15px;
}

.table_request #date_td select{
    margin-bottom: 2%;
}

.table_request .user_rent_info{
  margin-bottom: 3%;
}


.table_request input[type="number"]{
  font-size: 15px;
  height: 25px;
  border: none;
  width: 100%;
  -webkit-appearance: none;
}

.table_request button[type="button"]{
  width: 100px;
  padding: 10px 0;
  font-size: 15px;
  background-color: #001246;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.table_request .agit .agit_btn{
  float: right;
  border-radius: 4px;
}

.table_request input[type="file"]{
  width: 100%;
  font-size: 15px;
}

.table_request textarea{
  width: 100%;
}

.table_request input[type="button"], input[type="reset"]{
  float: right;
  padding: 10px 20px;
  margin: 2%;
  border: 2px solid #0a3d62;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
}

.table_request input[type="button"]:hover, input[type="reset"]:hover{
  background-color: #0a3d62;
  color: #fff;
  cursor: pointer;
}
