.user_open_div{
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.table_open{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 5%;
  margin-bottom: 5%;
}

.table_open thead tr{
  background-color: #001246;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  height: 50px;
  font-weight:normal;
  text-align: left;
}

.table_open tbody tr{
  height: 50px;
  border-bottom: 2px solid #001246;
}
