.inputdiv{
  width: 500px;
  margin: 0 auto;
  margin-top: 5%;
}

.inputbox input{
  width: 93%;
  height: 50px;
  font-size: 20px;
  /* padding: 5px; */
  margin-left: 3%;
}

.inputdiv .inputbox2 input[type="number"]{
  height: 50px;
  width: 30%;
  font-size: 20px;
  margin-left: 1.5%;
}

.inputbox3 input{
  height: 50px;
  width: 30%;
  /* font-size: 20px; */
  margin-left: 1.5%;
}

.inputbox4 input[type="text"]{
  width: 50%;
  height: 50px;
  font-size: 20px;
  margin-left: 2%;
}

.inputbox4 select{
  width: 40%;
  height: 55px;
  font-size: 20px;
}

.inputbox4 input[type="button"]{
  border: none;
  background-color: #0c2461;
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 2%;
}

.inputbox5{
  margin-top: 5%;
  margin-bottom: 5%;
}

.inputbox5 input[type="button"]{
  width: 100%;
  border: 2px solid #0a3d62;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 4px;
}

.inputbox5 input[type="button"]:hover{
  background-color: #0a3d62;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.signup_form span{
  font-size: 15px;
}
