@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');
body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family:'Montserrat',DroidSans,AppleSDGothicNeo,Sans-serif,Helvetica;
  color: black;
}
.flagcheck_div{
  width: 700px;
  top: 0;
  left: 0;
  margin: 0 auto;
}
.inputdiv{
  /* position: absolute; */
  width: 100%;
  padding: 40px;
  background: #dfe6e9;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.table1{
  margin-top: 5%;
}
.table1 .flag_texta{
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}
.table1 #tr1{
  float: right;
}

#span1, #span2, #span3{
  color: red;
}
