.table1{
  width: 700px;
}
#tr1{
  text-align:right;
}
#span1{
  color:red;
}
.tr1{
  text-align: center;
}
.td1{
   text-align:right;
   width: 35%;
}
.input1{
  width: 250px;
}
.input_phone{
  width: 94px;
}
.address2{
  width: 80px;
}
.address3{
  width: 160px;
}
.email1{
  width: 80px;
}
.button1{
  margin-left: 156px;
}
.tr_id, .tr_name, .tr_passwd, .tr_passwd_check, .tr_phone, .tr_address, .tr_email{
  font-size: 8px;
  color: red;
  line-height: 120%;
}
.code{
  width: 120px;
}
