.notice_list{
  width: 1200px;
  margin: 0 auto;
  margin-top: 10%;
}

.notice_list_h1{
  display: inline;
}

.search{
  display: inline-block;
  margin-top: 10px;
  float: right;
}

.search input[type="text"]{
  width: 200px;
  line-height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.search input[type="submit"]{
  border: none;
  background-color: #384d75;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}

.search select{
  padding: 5px;
  height: 35px;
  border: 1px solid #ccc;
  outline: none;
}

.notice_list_table{
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 5%;
  margin-top: 3%;
}

.notice_list_table thead td{
  border-top: 2px solid #384d75;
  border-bottom: 1px solid #ccc;
  background: #f0f3fa;
  text-align: center;
  height: 45px;
}

.notice_list_table thead td a{
  text-decoration: none;
  color: black;
}

.notice_list_table tbody td{
  padding: 10px;
  box-sizing: border-box;
  height: 45px;
  text-align: center;
  line-height: 1.3;
  border-bottom: 1px solid #ccc;
}

.notice_list_table tbody td a{
  text-decoration: none;
  color: black;
}

.page_box{
  text-align: center;
  margin-bottom: 10%;
}

.page_box a{
  text-decoration: none;
  color: black;
}

#button a{
  /* display: inline; */
  /* float: right; */
  text-decoration: none;
  border: none;
  background-color: #384d75;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  margin-right: 1%;
}
